.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    /*flex-grow: 1;*/
}

.form__title{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0 1.5rem;
}

.form__button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.form > div {
    /*margin-top: 1rem;*/
}

.form > .form__button {
    padding-top: .5rem;
}
